html,
body
  width 100%
  height 100%
  margin 0
  padding 0

header
  display block
  width 100%
  position fixed
  z-index 10
  background #fff

  h1
    margin-bottom 0
    padding 10px 20px
    background linear-gradient(to right, #c5deea 0%,#8abbd7 31%,#066dab 100%)

  hr
    margin-top 0

  .seperator
    width 100%
    height 10px
    z-index 10

.load-more-movies
  width 100%
  line-height 38px
  margin-bottom 10px

  .hidden
    display none
