@import '../styles'

header
  display block
  width 100%
  position fixed
  z-index 10
  background-color mediumColor

  h1
    margin-bottom 0
    padding 10px 20px
    color lightColor
    background baseColor

  hr
    margin-top 0

  .seperator
    width 100%
    height 10px
    z-index 10

.load-more-movies
  width 100%
  line-height 38px
  margin-bottom 10px

  .hidden
    display none
