/* You can add global styles to this file, and also import other style files */
baseColor = #333
mediumColor = #777
lightColor = #fff

html,
body
  width 100%
  height 100%
  margin 0
  padding 0
  background-color mediumColor
